# =====================================================
# Python
# =====================================================

__pycache__/
*.py[cod]
*$py.class


# =====================================================
# Conda / Environment
# =====================================================

.env
.venv/
venv/


# =====================================================
# Datasets (VERY IMPORTANT)
# =====================================================

datasets/
datasets_processed/


# =====================================================
# Training outputs
# =====================================================

checkpoints/
logs/
experiments/


# =====================================================
# Model weights
# =====================================================

*.pth
*.pt
*.ckpt


# =====================================================
# Jupyter
# =====================================================

.ipynb_checkpoints/


# =====================================================
# OS files
# =====================================================

.DS_Store
Thumbs.db
